<p [ngClass]="estilo">comp-atributos works!</p>
<button (click)="trocar()"> trocar</button>
<h1 [ngStyle]="{'background': corFundo , 'color': fonte}" > CURSO ANGULAR</h1>

<!--Usanod ng-contentl-->


<ng-content select = "h1"></ng-content>
<ng-content select = "p"></ng-content>


<!--Ng model-->
<h1>Lista de compras</h1>
<p>adicione um item</p>
<input type="text" [(ngModel)]="item">
<button (click) = "adicionarLista()"> Adicionar</button>
<p> {{item}}</p>

<ul>
  <li *ngFor="let elemento of lista"> {{elemento}}</li>
</ul>

<hr>

<ng-template [ngIf]=isEnable>
  <a href="#">FINALIZAR COMPRA</a>
</ng-template>

<br>

<ng-template [ngIf]=isEnable>
  <a href="#">ADICIONAR AO CARRINHO</a>
</ng-template>
